### SublimeText ###
store-block-template/*.sublime-workspace

### OSX ###
store-block-template/.DS_Store
store-block-template/.AppleDouble
store-block-template/.LSOverride
store-block-template/Icon

# Thumbnails
store-block-template/._*

# Files that might appear on external disk
store-block-template/.Spotlight-V100
store-block-template/.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific
/store-block-template/node/node_modules
store-block-template/docs/_book/
store-block-template/.tmp
store-block-template/.idea
store-block-template/npm-debug.log
store-block-template/.build/
store-block-template/lib
store-block-template/.eslintrc
store-block-template/*.orig
store-block-template/react/node_modules
