
.paragraph--rich1 {
  color: #000000;
  font-size: 30px;
}

.paragraph--rich2 {
  color: #fff;
  font-size: 30px;
}

.container--help-message {
  background: #242F3E;
}

.container--rich1 {
  background:  #E5E5E5;
}
.paragraph--maior-plataforma {
  color: #fff;
  font-size: 30px;
}
.paragraph--Sobre1 {
  margin-left: 50px;
  color: #e47911;
}
.paragraph--Sobre2 {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-size: 20px;
  color: #242f3e;
}
.paragraph--copyright {
  margin-left: 2em;
  font-size: 100%;
}
.container--maior-plataforma {
  
  background-color: #242f3e;
}
.container--copyright {
  background-color: #242f3e;
}
.paragraph--sobre-points {
  
  font-size: 20px;
  color: #00a1c9;
}
.container--sobre-points {
  height: 150px;
}
