.logoImage {
  margin: 10px;
}

.searchBarContainer {
  width: 528px;
  position: relative;
}

.infoCardContainer {
  border-top: 20px;  
  width: 100%;

}

.infoCardCallActionContainer--slid :global(.vtex-button) { 
  text-transform: initial;
}

.sliderArrows {
  color: #fff;
}

.infoCardHeadline--slid {
  font-size: 27px;
}

.infoCardSubhead--slid {
  font-size: 20px;
}


.infoCardHeadline--text {
  color: #00a1c9;
  font-size: 14px;
  margin-bottom: 0%;

}

.infoCardSubhead--text {
  color: #000;
  font-size: 14px;
}

.infoCardCallActionText--text {
  color: #00a1c9;
  font-size: 16px;
  margin-bottom: 10%;
}

.infoCardContainer--info-card-example {
  border-top: thick solid #242F3E;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
}

.infoCardTextContainer--info-card-example {
  width: 200px;
  margin-bottom: -20%;
}


