.flexRowContent {
  justify-content: space-around;
}

.flexRowContent--foot {
  background: #232f3e;
  width: 100%;
}

.flexRowContent--head {
  background: #242f3e;
  width: 100%;
}

.flexRow--form {
  background: #1b2839;
}

.flexCol--form {
  background: #1b2839;
}

.stretchChildrenWidth {
  background: #E5E5E5;
}